/* SDANDARD */
@font-face {
    font-family: GothamBlack;
    src: url(../fonts/Gotham-Black.otf);
}
@font-face {
    font-family: GothamBold;
    src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
    font-family: GothamBoldItalic;
    src: url(../fonts/Gotham-BoldItalic.otf);
}
@font-face {
    font-family: GothamBook;
    src: url(../fonts/Gotham-Book.otf);
}
@font-face {
    font-family: GothamMedium;
    src: url(../fonts/Gotham-Medium.otf);
}
@font-face {
    font-family: GothamThin;
    src: url(../fonts/Gotham-Thin.otf);
}
body{
    background: #010101;
    color: white;
    font-family: 'GothamMedium', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}
.text-euforia{
    color: #ec0b43;
}
.sticky-wrapper{
    position: relative;
    min-height: 75vh;
    position: relative;
}
hr{
    border-color: #ec0b43;
}
body.page-template-default:not(.home),
body.page-template:not(.home),
body.archive,
body.blog {
    background-image: url(../images/euforia-pages-background.jpg);
    background-position: top;
    background-size: cover;
}
/* HEADER */
header{
    position: fixed;
    top: 0;
    z-index: 9999999999;
    width: 100%;
}
.header-placeholder, .footer-placeholder{
    background: #ec0b43;
}
.header-placeholder{
    margin-bottom: 42px;
}
.footer-placeholder{
    padding: 30px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    max-height: 130px;
}
.euforia-brand-responsive{
    font-size: 18px;
    margin: 18px 0;
}
.euforia-brand-responsive, .euforia-brand-responsive small{
    color: black;
}
.main-container{
    min-height: 600px;
    margin-top: 180px;
}
.header-menu{
    margin: 0px;
    padding: 0px;
    font-family: 'GothamBlack', sans-serif;
}
.menu-item{
    margin: 50px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
@media screen and (max-height: 768px){
    .main-container{
        margin-top: 90px;
    }
    .menu-item{
        margin: 25px 0;
    }   
}
.menu-item:after{
    content: '|';
    display: inline-block;
    margin-left: 24px;
    margin-right: 8px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    color: black;
}
.menu-item:last-child:after{
    display: none;
}
.social-menu .menu-item:after{
    display: none;
}
.menu-item .fas, .menu-item .fas:hover, .menu-item a, .menu-item a:hover{
    color: black;
    text-decoration: none;
}
.current_page_item a{
    color: white;
}
/* HERO HOME */
.logo-placeholder{
    position: relative;
    display: block;
    float: left;
    min-height: 80px;
    margin-top: 18px;
}
.ribon-new,
.brand-name{
    position: absolute;
    top: 0;
    left: 0;
}
.brand-name {
    margin-left: 36px; 
}
.home-product-container{
    margin-bottom: 0px;
    position: relative;
}
.product-bkg-placeholder{
    z-index: 0;
    width: 100%;
}
.flex-row-centered-elements{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.home-product-container .product-bkg{
    position: absolute;
    top: 50px;
}
.home-product-container .product-home-image{
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    display: block;
    z-index: 9;
    max-height: 70vh;
}
.slogan-placeholder{
    position: absolute;
    bottom: 40px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9;
}
.slogan-placeholder img{
    margin-top: auto;
}
.footer-copyright{
    margin: 0px;
}
/* INNER PAGES */
.product-aside{
    position: relative;
}
.product-aside .slogan-placeholder{
    width: 100%;
}
.wolf-strike{
    position: absolute;
    z-index: 1;
    bottom: 80px;
    left: 0px;
    opacity: .2;
    max-width: 60%;
}
.euforia-product-aside{
    position: relative;
    z-index: 9;
    margin: 0 auto;
    margin-bottom: 100px;
    height: 60vh;
    display: block;
}
.product-aside{
    position: relative;
    margin-bottom: 120px;
}
/* PAGE ALTER TEMPLATE */
.alter-template .euforia-product-aside{
    margin-bottom: 0px;
}
.page-content-container{
    position: relative;
    padding-bottom: 200px;
}
.page-content-container .wolf-strike{
	bottom: 0px;
    z-index: -1;
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
}
.page-content-container .slogan-placeholder{
    left: 0;
    bottom: -60px;
    right: auto;
}
.more-products-section{
    background: #423F3F;
    color: white;
    font-family: 'GothamThin', sans-serif;
    font-size: 24px;
    padding: 120px 0;
}
.vita-link, .vita-link:hover{
    color: white;
    text-decoration: none;
}
/* CONTACT PAGE */
.euforia-form{
    margin-top: 80px;
}
.euforia-form label{
    font-size: 24px;
    margin-top: 6px;
}
.euforia-form input, .euforia-form textarea{
    width: 100%;
    padding: 12px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    color: white;
    font-size: 18px;
    margin-bottom: 18px;
}
.euforia-form input[type="submit"]{
    background: #EC0B43;
    color: black;
    text-transform: uppercase;
    border: 0px;
    font-weight: bold;
}
.euforia-form input[type="submit"]:hover{
    color: white;
}
/* ARCHIE PAGE */
.archive-list{
    list-style: none;
    text-align: left;
    -webkit-transform: translateY(-33px);
    transform: translateY(-33px);
}
.archive-month-link, .archive-month-link:hover{
    color: white;
    text-decoration: none;
}
.loop-container{
    padding-top: 20px;
    padding-bottom: 100px;
}
.archive-article{
    display: block;
    margin-bottom: 48px;
    border-bottom: 1px solid rgba(93, 93, 93, 0.2);
    overflow: auto;
    padding-bottom: 36px;
}
.archve-post-title{
    font-size: 32px;
    padding-bottom: 18px;
    margin-bottom: 36px;
    border-bottom: 1px solid rgba(236, 11, 67, 0.7);
    
}
.responsive-nav{
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background: #262626;
    color: #EC0B43;
    z-index: 9;
    padding: 100px;
    text-align: center;
}
.responsive-nav.in{
    left: 0;
}
.responsive-nav .menu-item a{
    font-size: 28px;
    color: #EC0B43;
}
.responsive-nav-bottom{
    position: absolute;
    display: block;
    bottom: 40px;
    width: 100%;
    color: white;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.stickThis{
    width: 100%;
}
/* RESPONSIVE ISSUES */
@media screen and (min-width: 768px) and (max-width: 992px){
    .header-placeholder{
        margin-bottom: 24px;
    }
    .header-menu{
        list-style: none;
    }
    .menu-item{
        margin: 24px 0;
    }
    .menu-item:after{
        display: none;
    }
    .product-home-image{
        max-height: calc(100vh - 280px);
        width: auto;
    }
    .footer-placeholder{
        padding: 20px;
    }
    .home-product-container .product-bkg{
        width: 90%;
        margin: 0 auto;
    }
    .footer-placeholder{
        font-size: 16px;
    }
}
@media screen and (max-width: 768px){
    .header-placeholder{
        margin-bottom: 24px;
    }
    .header-menu{
        list-style: none;
    }
    .menu-item{
        margin: 24px 0;
    }
    .menu-item:after{
        display: none;
    }
    .brand-name{
        margin-left: 18px;
        max-width: 80vw;
    }
    .ribon-new{
        max-width: 80px;
    }
    .product-home-image{
        max-height: calc(100vh - 280px);
        width: auto;
    }
    .footer-placeholder{
        padding: 20px;
    }
    .home-product-container .product-bkg{
        width: 90%;
        margin: 0 auto;
    }
    .footer-placeholder{
        font-size: 16px;
    }
    .slogan-placeholder{
        bottom: 15px;
        width: 60%;
    }
    .product-slogan{
        width: 75%;
    }
    .slogan-badge{
        width: 20%;
    }
    
}
@media screen and (max-width: 480px){
    .main-container{
        margin-top: 70px;
        min-height: auto;
    }
    .responsive-nav{
        padding: 40px;
        padding-top: 80px;
    }
    .euforia-brand-responsive{
        margin: 28px 0;
    }
    .euforia-brand-responsive small{
        display: none;
    }
    .responsive-nav .menu-item a{
        font-size: 16px;
    }
    .responsive-nav .menu-item{
        margin: 12px 0;
    }
    .home-product-container .product-home-image{
        margin-top: 0px;
        margin-bottom: 36px;
    }
    .responsive-nav-bottom .footer-copyright{
        font-size: 14px;
    }
    .product-aside, .euforia-product-aside{
        margin-bottom: 0px;
    }
    .slogan-placeholder{
        width: 100%;
        bottom: -40px;
    }
    .wolf-strike{
        display: none;
    }
    .loop-container{
        margin: 0px;
        padding-bottom: 0px;
    }
    .page-content-container .slogan-placeholder{
        bottom: 36px;
    }
    .more-products-section{
        padding: 36px 0;
    }
    .more-products-section img{
        display: block;
        margin: 0 auto;
        margin-top: 36px;
    }
}
